@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (min-width: 475px) {
    .xs\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    .xs\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}